.main_content {
    background-color: rgb(244, 244, 244);
}

.main_title {
    font-size: 20px;
}

.main_caption {
    font-size: 15px;
}

.img_team {
    max-width: 100%;
    width: 600px;
}

.card_elements {
    background-color: white;
    font-family:'Times New Roman', Times, serif
}